.sidenav{
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    border-radius: 5px;
    background-color: #1E2D69;
    height: auto;
    width: 12rem;
}

a i{
    margin: 2rem 1rem;
}

.mat-list-item{
    color: white;
    transition: 0.5s;
}

.mat-list-item:hover{
    color: #F56E28;
    height: 3rem;
    transition: 0.5s;
    transform: scale(1.1);
}
