.sidenav{
    width: 3.2rem;
    transition: 0.5s;
    background-color: rgb(115, 115, 115);
}

.sidenav:hover{
    transition: 0.5s;
    width: 10rem;
}

a i{
    margin-right: 1rem;
}

.mat-list-item{
    transition: 0.5s;
    transform: scale(0.8);
}

.mat-list-item:hover{
    background-color: white;
    height: 3rem;
    transition: 0.5s;
    transform: scale(1);
}
