<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened 
    fixedInViewport="True" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item>
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    person
                </i>
                Membro
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    people
                </i>
                Equipe
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    description
                </i>
                Tarefas
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    description
                </i>
                Projetos
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>