<mat-card class="form">
  <mat-card-title> Criar projetos </mat-card-title>
  <mat-card-subtitle> Área para criação de novos projetos </mat-card-subtitle>
</mat-card>

<form class="form" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Nome do projeto</mat-label>
    <input
      matInput
      placeholder="Nome do projeto"
      [(ngModel)]="projeto.nome_projeto"
      name="name_project"
      formControlName="nome"
      maxlength="40"
    />
    <mat-error *ngIf="formulario.controls['nome'].hasError('required')">
      Nome do projeto é necessário
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Descrição do projeto</mat-label>
    <textarea
      matInput
      [(ngModel)]="projeto.descricao"
      name="description"
      formControlName="descricao"
    ></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Equipe responsável</mat-label>
    <mat-select
      name="equipe_responsavel"
      [(ngModel)]="projeto.id_equipe"
      formControlName="equipe"
    >
      <mat-option
        *ngFor="let equipe of equipes | async"
        [value]="equipe.id_equipe"
      >
        {{ equipe.id_equipe }} - {{ equipe.nome_equipe }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="formulario.controls['equipe'].hasError('required')">
      É necessário escolher a equipe
    </mat-error>
  </mat-form-field>
  <button mat-raised-button class="salvar" [disabled]="!formulario.valid">
    Salvar
  </button>
  <button mat-raised-button class="cancelar" (click)="goBack()">
    Cancelar
  </button>
</form>
