<ul>
  <li *ngFor="let membro of membros">
    <div>
      <div>
        <span class="nome">{{ membro.nome_membro }}</span>
        <span class="funcao">{{ membro.funcao }}</span>
        <span class="equipe">
          <i class="material-icons icon-components"> people </i>
          {{ membro.nome_equipe }}
        </span>
      </div>
      <div>
        <button 
        matTooltip="Deletar membro"
        (click)="deletaMembro(membro.id_membro)"
        class="deletar">
          <i class="material-icons"> delete </i>
        </button>
        <button
          matTooltip="Editar membro"
          class="editar"
          routerLink="/membros/update/{{ membro.id_membro }}"
        >
          <i class="material-icons"> create </i>
        </button>
      </div>
    </div>
  </li>
</ul>
