<!-- <div class="select_equipe">
  <mat-select id="select_equipe">
    <mat-option
      *ngFor="let equipe of equipes"
      [value]="equipe.id_equipe"
    >
      {{ equipe.nome_equipe }}
    </mat-option>
  </mat-select>

  <button
    mat-raised-button
    id="button_selecionar"
    color="primary"
    (click)="procurar(2)"
  >
    Selecionar
  </button>

  <button 
  mat-raised-button
  (click)="ngOnInit()"
  id="button_voltar"
  matTooltip="Mostra todos os membros">
    Voltar
  </button>
</div> -->

<ul>
  <li *ngFor="let membro of membros">
    <div>
      <div>
        <span class="nome">{{ membro.nome_membro }}</span>
        <span class="funcao">{{ membro.funcao }}</span>
        <span class="equipe">
          <i class="material-icons icon-components"> people </i>
          {{ membro.nome_equipe }}
        </span>
      </div>
      <div>
        <button
          matTooltip="Deletar membro"
          (click)="openDialog('0ms', '0ms', membro.id_membro)"
          class="deletar"
        >
          <i class="material-icons"> delete </i>
        </button>
        <button
          matTooltip="Editar membro"
          class="editar"
          routerLink="/membros/update/{{ membro.id_membro }}"
        >
          <i class="material-icons"> create </i>
        </button>
      </div>
    </div>
  </li>
</ul>
