ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  background-color: #232b67;
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 2rem;
  list-style: none;
  margin: 10px;
  min-width: 25rem;
  padding: 30px;
  width: 30%;
  text-align: left;
}

li:hover {
  cursor: pointer;
}

li * {
  box-sizing: border-box;
}

li span.nome {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 2px;
  word-break: break-word;
  text-align: justify;
}
