.arrow {
    position: relative;
    top: 10px;
    left: 20px;
}

.arrow:hover {
    cursor: pointer;
}

.geral {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: 20px;
    height: 100%;
}

.title-view {
    margin: 20px 0;
}

.dados {
    width: 30%;
    align-items: center;
}

.acoes {
    margin-top: 20px;
}

.acoes button{
    display: flex;
    justify-content: center;
    margin: 5px;
    width: 10rem;
}

.imagem {
    text-align: center;
    width: 15rem;
    height: 15rem;
    border: 1px solid black;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.imagem span {
    font-size: 8rem;
}

.info { 
    width: 60%;
}

.quantidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start ;
}

.quantidade {
    margin-left: 2.5rem;
    width: 10rem;
    text-align: center;
    margin-bottom: 20px;
    min-width: 5rem;
}

div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

li {
    list-style: none;
}

.card {
    margin-top: 10px;
    width: 60%;
    min-width: 25rem;
    box-sizing: content-box;
}

.subtitle {
    font-size: 30px;
    font-weight: bold;
    margin-left: 2.5rem;
    margin-top: 20px;
}