<mat-card class="form">
  <mat-card-title> Criar tarefa </mat-card-title>
  <mat-card-subtitle> Área para criar tarefas novas </mat-card-subtitle>
</mat-card>

<form class="form">
  <mat-form-field appearance="fill">
    <mat-label>Nome da Tarefa</mat-label>
    <input
      matInput
      placeholder="Nome da tarefa"
      [(ngModel)]="tarefa.nome_tarefa"
      name="name_task"
    />
  </mat-form-field>

  <mat-form-field appearance="fill" class="descricao">
    <mat-label>Descrição da Tarefa</mat-label>
    <textarea
      matInput
      cols="30"
      rows="10"
      [(ngModel)]="tarefa.descricao"
      name="description"
    ></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nome do Integrante</mat-label>
    <mat-select name="membro_responsavel" [(ngModel)]="tarefa.id_membro">
      <mat-option
        *ngFor="let membro of membros | async"
        [value]="membro.id_membro"
      >
        {{ membro.id_membro }} - {{ membro.nome_membro }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p>{{ tarefa.id_membro }}</p>

  <mat-form-field appearance="fill">
    <mat-label>Projeto da Tarefa</mat-label>
    <mat-select name="projeto_tarefa" [(ngModel)]="tarefa.id_projeto">
      <mat-option
        *ngFor="let projeto of projetos | async"
        [value]="projeto.id_projeto"
      >
        {{ projeto.id_projeto }} - {{ projeto.nome_projeto }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p>{{ tarefa.id_projeto }}</p>

  <button mat-raised-button class="salvar" (click)="salvar()">Salvar</button>
  <button mat-raised-button class="cancelar" (click)="goBack()">
    Cancelar
  </button>
</form>
