<ul>
    <li *ngFor="let equipe of equipes">
        <span class="nome"> {{ equipe.id_equipe }} - {{ equipe.nome_equipe }}</span>
        <div>
            <button (click)="deletaEquipe(equipe.id_equipe)" class="deletar">
                <i class="material-icons">
                    delete
                </i>
            </button>
            <button class="editar" routerLink="/equipes/update/{{ equipe.id_equipe }}">
                <i class="material-icons">
                    create
                </i>
            </button>
        </div>
    </li>
</ul>