<ul>
    <li *ngFor="let equipe of equipes">
        <span class="nome">{{ equipe.nome_equipe }}</span>
        <div>
            <button (click)="deletaEquipe(equipe.id_equipe)" class="deletar">
                <i class="material-icons">
                    delete
                </i>
            </button>
            <button (click)="atualizaEquipe()" class="editar">
                <i class="material-icons">
                    create
                </i>
            </button>
        </div>
    </li>
</ul>