h1 {
    width: 173px;
    height: 50px;
    left: 19px;
    top: 25px;

    align-items: center;
    color: #232946;
    display: flex;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 43px;

    line-height: 50px;
    margin-left: 19px;
    margin-top: 25px;
    text-align: center;
}

app-read-membros {
    margin-left: 19px;
}
