<ul>
  <li *ngFor="let tarefa of tarefas">
    <span class="nome">{{ tarefa.nome_tarefa }}</span>
    <span class="descricao">
      <i class="material-icons icon-components"> description </i>
      {{ tarefa.descricao }}
    </span>
    <span class="projeto">
      <i class="material-icons icon-components"> assignment </i>
      {{ tarefa.nome_projeto }}
    </span>
    <span class="membro">
      <i class="material-icons icon-components"> person </i>
      {{ tarefa.nome_membro }}
    </span>
    <div>
      <button
        matTooltip="Deletar tarefa"
        (click)="openDialog('0ms', '0ms', tarefa.id_tarefa)" 
        class="deletar">
        <i class="material-icons"> delete </i>
      </button>
      <button
        matTooltip="Editar tarefa"
        routerLink="/tarefas/update/{{ tarefa.id_tarefa }}"
        class="editar"
      >
        <i class="material-icons"> create </i>
      </button>
    </div>
  </li>
</ul>
