<ul>
    <li *ngFor="let tarefa of tarefas">
        <span class="nome">{{ tarefa.name_task }}</span>
        <span class="descricao">
            <i class="material-icons">
                description
            </i>
            {{ tarefa.description }}
        </span>
        <span class="membro">
            <i class="material-icons">
                person
            </i>
            {{ tarefa.id_membro }}
        </span>
        <span class="projeto">
            <i class="material-icons">
                assignment
            </i>
            {{ tarefa.id_project }}
        </span>
        <div>
            <button (click)="deletaTarefa(tarefa.id_tarefa)" class="deletar">
                <i class="material-icons">
                    delete
                </i>
            </button>
            <button (click)="atualizaTarefa()" class="editar">
                <i class="material-icons">
                    create
                </i>
            </button>
        </div>
    </li>
</ul>
