<ul>
    <li *ngFor="let projeto of projetos">
        <span class="nome">{{ projeto.name_project }}</span>
        <span class="descricao">
            <i class="material-icons">
                description
            </i>
            {{ projeto.description }}
        </span>
        <span class="time">
            <i class="material-icons">
                people
            </i>
            {{ projeto.id_team }}
        </span>
        <div>
            <button (click)="deletaProjeto(projeto.id_projeto)" class="deletar">
                <i class="material-icons">
                    delete
                </i>
            </button>
            <button (click)="atualizaProjeto ()" class="editar">
                <i class="material-icons">
                    create
                </i>
            </button>
        </div>
    </li>
</ul>