<mat-card class="form">
  <mat-card-title> Criar equipe </mat-card-title>
  <mat-card-subtitle> Área para criação de novas equipes </mat-card-subtitle>
</mat-card>

<form class="form" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <mat-form-field class="create-equipe" appearance="fill">
    <mat-label>Nome da Equipe</mat-label>
    <input
      matInput
      placeholder="Nome da equipe"
      name="name_team"
      [ngModel]="equipe.nome_equipe"
      formControlName="nome"
    />
    <mat-error *ngIf="formulario.controls['nome'].hasError('required')">
      Nome da equipe é requerido
    </mat-error>
  </mat-form-field>
  <button mat-raised-button class="salvar">Salvar</button>
  <button mat-raised-button class="cancelar" (click)="goBack()">
    Cancelar
  </button>
  <button mat-raised-button class="limpar" (click)="limpar()">Limpar</button>
</form>
