<mat-card>
    <mat-card-title>
        Dashboard
    </mat-card-title>
    <mat-card-subtitle>
        Projeto construido com Angular, Go e Postgres. 
        Feito como um desafio proposto pela Brisanet para seus aprendizes.
    </mat-card-subtitle>
</mat-card>

<mat-grid-list cols="4">
    <mat-grid-tile>
        <div>
            <span class="title">2</span>
        </div>
        <div><span class="subtitle">Equipes Criadas</span></div>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>