<mat-card>
    <mat-card-header>
        <mat-card-title>
            Dashboard
        </mat-card-title>
        <mat-card-subtitle>
            Projeto construído com Angular, Go e Postgres.
            Feito como um desafio proposto pela Brisanet para seus aprendizes.
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>
<!-- 
<button (click)="qtdEquipes()">Mostra Equipes</button> -->
<div class="cards">
    <div class="card">
        <span class="title" id="qtdEquipes">1</span>
        <span class="subtitle">EQUIPES <br>CRIADAS</span>
    </div>
    <div class="card">
        <span class="title"></span>
        <span class="subtitle">MEMBROS <br> EXISTENTES</span>
    </div>
    <div class="card">
        <span class="title">1</span>
        <span class="subtitle">PROJETOS<br> CADASTRADOS</span>
    </div>
    <div class="card">
        <span class="title">1</span>
        <span class="subtitle">TAREFAS<br> CADASTRADAS</span>
    </div>
</div>

<mat-card>
    <mat-card-header>
        <mat-card-title>Informações Importantes</mat-card-title>
        <mat-card-subtitle>Importante ler antes de usar este software</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
</mat-card>