<mat-card>
    <mat-card-title>
        Dashboard
    </mat-card-title>
    <mat-card-subtitle>
        Projeto construído com Angular, Go e Postgres. 
        Feito como um desafio proposto pela Brisanet para seus aprendizes.
    </mat-card-subtitle>
</mat-card>
<div class="cards">
    <div class="card">
        <span class="title">2</span>
        <span class="subtitle">EQUIPES <br>CRIADAS</span>
    </div>
    <div class="card">
        <span class="title">6</span>
        <span class="subtitle">MEMBROS <br> EXISTENTES</span>
    </div>
    <div class="card">
        <span class="title">2</span>
        <span class="subtitle">PROJETOS<br> CADASTRADOS</span>
    </div>
    <div class="card">
        <span class="title">3</span>
        <span class="subtitle">TAREFAS<br> CADASTRADAS</span>
    </div>
</div>