.sidenav{
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: auto;
  transition: 0.5s;
  width: 12rem;
}

a i{
  margin: 2rem 1rem;
}

.mat-list-item{
  transition: 0.5s;
}

.mat-list-item:hover{
  color: #F56E28;
  height: 3rem;
  transition: 0.5s;
  transform: scale(1.1);
}

.logo {
  margin-top: 1rem;
  margin-left: 1rem;
  max-height: 3rem;
}

a:focus {
  color: #F56E28;
}

.logout {
  position: absolute;
  bottom: 40px;
  margin-left: 10px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 25px;
  align-items: center;
  width: 100px;
  height: 40px;
  border-radius: 5px;
}