<form class="form">
    <mat-form-field appearance="fill">
        <mat-label>Nome do membro</mat-label>
        <input matInput placeholder="Nome do membro" [(ngModel)]="membro.name_member" name="name_member">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Função do membro</mat-label>
        <input matInput placeholder="Função do Membro" [(ngModel)]="membro.function" name="function">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Nome da Equipe</mat-label>
        <mat-select>
            <mat-option value="one">Devs Cariri</mat-option>
            <mat-option value="two">Komanda</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button class="salvar" (click)="salvar()">
        Salvar
    </button>
    <button mat-raised-button class="cancelar" (click)="goBack()">
        Cancelar
    </button>
</form>