/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
}

body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    margin: 0; 
}

button.add {
    background-color: #1E2D69;
    border-radius: 50%;
    bottom: 0px;
    color: #F56E28;
    display: flex;
    height: 4rem;
    margin: 6rem 3rem;
    position: fixed;
    right: 0px;
    width: 4rem;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-around;
    line-height: 2rem;
    list-style: none;
    margin: 10px;
    min-width: 15rem;
    padding: 10px;
    width: 25%;
}

li span.nome {
    font-size: 2rem;
    font-weight: 500;
    margin: 2px;
}

span {
    align-items: center;
    display: flex;
}

i.material-icons {
    margin-right: 5px;
}

button {
    border: none;
    cursor: pointer;
}

button.deletar {
    margin-right: 10px;
}

button.deletar,
button.editar {
    padding-left: 5px;
}

button.deletar:hover {
    background-color: rgba(255, 0, 0, 0.603);
}

button.editar:hover {
    background-color: rgba(255, 255, 0, 0.5);
}

