<app-grapfico class="grafico"></app-grapfico>

<div class="cards">
  <mat-card class="card">
    <mat-card-title>
      {{ membros.length }}
    </mat-card-title>
    <mat-card-subtitle> Membro(s)<br />Cadastrado(s) </mat-card-subtitle>
  </mat-card>
  <mat-card class="card">
    <mat-card-title>
      {{ equipes.length }}
    </mat-card-title>
    <mat-card-subtitle> Equipe(s)<br />Cadastrada(s) </mat-card-subtitle>
  </mat-card>
  <mat-card class="card">
    <mat-card-title>
      {{ projetos.length }}
    </mat-card-title>
    <mat-card-subtitle> Projeto(s)<br />Cadastrado(s) </mat-card-subtitle>
  </mat-card>
  <mat-card class="card">
    <mat-card-title>
      {{ tarefas.length }}
    </mat-card-title>
    <mat-card-subtitle> Tarefa(s)<br />Cadastrada(s) </mat-card-subtitle>
  </mat-card>
</div>

<mat-card>
  <h1 class="title-view">Sobre o Projeto</h1>
  <mat-card-content>
    <ul>
      <li>
        <p>
          Desenvolvido por
          <a target="_blank" href="https://www.github.com/TheSamuelVitor">
            Samuel Vitor
          </a>
        </p>
      </li>

      <li>
        <p>Desafio proposto pela Brisanet para os jovens aprendizes</p>
      </li>

      <li>
        <p>Software de gerenciamente de projetos onde é possível conectar:</p>
        <ul>
          <li>Membros a uma equipe</li>
          <li>Projeto a uma equipe</li>
          <li>Tarefas a um membro e a um projeto</li>
        </ul>
      </li>

      <li>
        <p>
          Desenvolvido com
          <a target="_blank" href="https://www.angular.io">Angular</a>,
          <a target="_blank" href="https://www.postgresql.org/">Postgres</a> e
          <a target="_blank" href="https://go.dev/">Go</a>.
        </p>
      </li>
    </ul>
  </mat-card-content>

  <mat-card-header>
    <mat-card-title>Informações Importantes</mat-card-title>
    <mat-card-subtitle
      >Importante ler antes de usar este software</mat-card-subtitle
    >
  </mat-card-header>

  <mat-card-content>
    <ul>
      <li>
        <p>
          É necessário ter uma equipe para que sejam criados membros e projetos;
        </p>
      </li>

      <li>
        <p>
          Para criar uma Tarefa deve existir tanto o projeto da tarefa, quanto o
          membro que realizará a tarefa.
        </p>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
